---
version: "2.1"
services:
  code-server:
    image: biodatageeks/openvscode-server:pr-36
    security_opt:
      - seccomp:unconfined
    environment:
      - TZ=Europe/Warsaw
    ports:
      - 3000:3000
    restart: unless-stopped
    volumes:
      - home-workspace-volume:/home/workspace
      - /var/run/docker.sock:/var/run/docker.sock
volumes:
    home-workspace-volume:
        external: false
